# Pythonのキャッシュファイル
__pycache__/
*.pyc

# 仮想環境フォルダ (一般的な名前)
venv/
env/
.venv/
.env/

# PyInstallerが生成するフォルダやファイル
build/
dist/
*.spec

# IDE/エディタ固有の設定ファイル
.vscode/
.idea/

# このアプリが生成するキャッシュファイル
.gemini_packer_cache.json