# Python template
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
.venv/
.env/

# PyInstaller artifacts
build/
dist/
*.spec/

# IDE/Editor specific
.vscode/
.idea/

# Application specific cache
.gemini_packer_cache.json